<div class="container-fluid text-dark">
<div class="container-fluid px-0">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.66200638337827!2d-38.9988346025348!3d-14.27699427706313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x73935efe4c43e1d%3A0x8d613cd0ad08e3f5!2sCENTRO%20DE%20FORMA%C3%87%C3%83O%20CONDUTORES%20ITACAR%C3%89!5e0!3m2!1spt-BR!2sbr!4v1753143303555!5m2!1spt-BR!2sbr" 
      width="100%" 
      height="450" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="row">

    <div class="col-md-6 bg-warning text-dark py-4 px-4">
      <h5 class="fw-bold mb-3">Endereço e Contatos</h5>

      <p><i class="fas fa-map-marker-alt me-2"></i>147 R. 16 de Dezembro, Itacaré - Bahia</p>
      <p><i class="fas fa-location-arrow me-2"></i>CEP: 45530-000</p>
      <p><i class="fas fa-phone-alt me-2"></i>(73) 3251-2035</p>
      <p><i class="fab fa-whatsapp me-2"></i>(73) 99938-5442 <small class="text-muted">Somente WhatsApp</small></p>
      <p><i class="fas fa-envelope me-2"></i>contatoautoescolaitacare.com.br</p>
    </div>
     
    <div class="col-md-6 bg-danger text-white py-4 px-4" style="background: linear-gradient(to right, #b10d07, #ad1928);">
      <h5 class="fw-bold mb-3">Horários de Funcionamento</h5>

      <p><i class="fas fa-calendar-alt me-2"></i><strong>Segunda à Sexta:</strong> 08h – 18h</p>
      <p><i class="fas fa-calendar-day me-2"></i><strong>Sábados:</strong> 08h – 12h</p>
      <p><i class="fas fa-ban me-2"></i><strong>Domingo:</strong> Fechado</p>
      <p><i class="bi bi-at"></i><strong>Redes Sociais</strong></p>
      <p ><a href="https://www.instagram.com/autoescolaitacare/" title="Instagram"><img src="instagram-logo-50.png"></a> <a href="https://www.facebook.com/CFCITACARE/?locale=pt_BR" title="Facebook"><img src="facebook-50.png"></a></p>
    

    </div>
  </div>

 
<footer class="footer">
  <div>
    <a href="/termos">Termos e Condições</a> | <a href="/politica">Política de Privacidade</a>
  </div>
  <p>
    © CFC Centro de Formação de Condutores Itacaré - 2025<br />
    Este site utiliza seus dados pessoais em conformidade com a Lei Geral de
    Proteção de Dados (LGPD).
  </p>
</footer>
</div>