* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        .logo img{
            width: 150px;
            transition: transform 0.3s;
        }

        .logo:hover img {
            transform: scale(1.05);
        }




        
header {
    background: linear-gradient(135deg, #c41e3a 0%, #8b0000 100%);
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(135deg, #c41e3a 0%, #8b0000 100%);
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding-right: 5%;
}

.logo img{
    width: 150px;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 100px;
    line-height: 1.1;
}

.logo::before {
    content: "";
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}

a.menu-item.text-danger{
    margin-left: 20px;
}

.hamburger-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  top: 60px; 
  right: 15px;
}

.hamburger-btn span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
}



.menu-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu-list li a:hover {
  color: #ffd700;
}


@media (max-width: 768px) {
  .hamburger-btn {
    display: flex;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    background-color: #8b0000;
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    padding: 1rem;
    border-radius: 0 0 4px 4px;
    z-index: 10;
  }

  .menu-list.open {
    display: flex;
  }

  .menu-list li {
    margin-bottom: 1rem;
  }

  .menu-list li a {
    font-weight: 600;
    color: white;
  }

  .login-btn-mobile a {
    color: #ffd700;
    font-weight: bold;
  }
}