
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="logoA.png" alt="">
                    AutoEscola Itacaré
                </div>
                
               <button class="hamburger-btn d-md-none" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Menu -->
    <ul class="menu-list" [class.open]="menuOpen">
      <li><a href="">Início</a></li>
      <li><a href="/cursos">Cursos</a></li>
      <li><a href="/sobre">Sobre Nós</a></li>
      <li><a href="/matricula">Matrículas</a></li>
    </ul>
                
                <div class="d-inline-flex align-items-center p-2 rounded hover-bg-light"
                        role="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample"
                        aria-controls="offcanvasExample">
                    <i class="fa-solid fa-circle-user me-2 fs-5 text-white"></i>
    <span class="text-white">Já é aluno? <span class="fw-semibold hover-underline">Faça o Login aqui</span>
    </span>
  </div>


            </nav>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                    <img src="logo.png" alt="Logo" class="img-fluid" style="max-width: 100px;">
                    </h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="position: absolute; right: 20px; top: 30px;"></button>
                </div>
                <div class="offcanvas-body">
                
                    
                    <div class="d-grid gap-2 col-md-6 mt-4 me-4 position-relative"> 
                    <a href="/loginuser" class="menu-item text-danger">Login</a> 
                    </div>

                    
                </div>
                </div> 
        </div>
  