<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <section class="hero-custom">
        <div class="container hero-wrapper">
          <div class="hero-text">
            <h1>Sua Habilitação com Qualidade</h1>
            <p class="subtitle">Cursos Completos: 1ª Habilitação, Renovação e Reciclagem.</p>
            <p class="categories">Categorias A, B, D e E</p>
          </div>
          <div class="hero-image">
            <div class="red-bg-shape"></div>
            <img src="catAB.png" alt="Carro Autoescola" />
          </div>
        </div>
      </section>
    </div>
    
    <div class="carousel-item">
      <section class="hero-custom">
        <div class="container hero-wrapper">
          <div class="hero-text">
            <h1>Conquiste Sua Liberdade no Volante</h1>
            <p class="subtitle">Cursos completos, instrutores qualificados e aprovação garantida.</p>
            <p class="categories">Comece hoje mesmo sua jornada como motorista!</p>
          </div>
          <div class="hero-image">
            <div class="red-bg-shape"></div>
            <img src="carrosBG.png" alt="catABCD" />
          </div>
        </div>
      </section>
    </div> 
    
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>
