<div id="heroCarousel" class="carousel slide">
  <div class="carousel-indicators">
    <button
      *ngFor="let slide of slides; let i = index"
      type="button"
      [class.active]="i === currentSlide"
      (click)="goToSlide(i)">
    </button>
  </div>

  <div class="carousel-inner">
    <div
      *ngFor="let slide of slides; let i = index"
      class="carousel-item"
      [class.active]="i === currentSlide"
      [ngClass]="{ 'second-slide': i === 1 }"
    >
      <section class="hero-custom">
        <div class="container hero-wrapper fade-in-up">
          <div class="hero-text">
            <h1 class="fade-in-up">{{ slide.title }}</h1>
            <p class="subtitle fade-in-up">{{ slide.subtitle }}</p>
            <p class="categories fade-in-up">{{ slide.categories }}</p>
          </div>
          <div class="hero-image">
            <div class="red-bg-shape slide-in-left" [ngClass]="{ 'yellow-shape': i === 1 }"></div>
            <img [src]="slide.image" alt="Slide Image" class="fade-in" />
          </div>
        </div>
      </section>
    </div>
  </div>

  <button class="carousel-control-prev" (click)="prevSlide()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" (click)="nextSlide()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>
