


    <app-menulogin/>
    <app-carousel/>
    <app-cards/>

<section class="diferenciais-section py-5">
  <div class="container text-center">
    <h2 class="text-danger fw-bold mb-5">Por que escolher a AutoEscola Itacaré?</h2>

    <div class="row justify-content-center g-4">
      <div class="col-md-3">
        <div class="card shadow-sm p-4">
          <div class="icon text-warning fs-1 mb-3">
            <img class="caro"  src="instrutor.PNG" alt="" srcset="">
          </div>
          <h5 class="fw-bold">Veículos Novos</h5>
          <p>Frota moderna com carros e motos revisados para garantir segurança durante as aulas práticas.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm p-4">
          <div class="icon text-warning fs-1 mb-3">
          <img class="caro" src="intr.PNG" alt="">
          </div>
          <h5 class="fw-bold">Instrutores Qualificados</h5>
          <p>Instrutores experientes e didáticos, preparados para esclarecer todas as dúvidas com paciência.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm p-4">
          <div class="icon text-warning fs-1 mb-3">
           
              <img class="caro" src="motors.PNG" alt="">
          </div>
          <h5 class="fw-bold">Horários Flexíveis</h5>
          <p>Escolha o melhor horário para suas aulas, inclusive aos sábados pela manhã.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-5" style="background: linear-gradient(to right, #eb130b, #ad1928);">
  <div class="container text-center text-white">
    <h2 class="mb-4 fw-bold">Conheça Nossa Estrutura</h2>
    <p class="mb-5">Veja algumas imagens da nossa Autoescola e toda a estrutura que temos para te receber com qualidade.</p>

    <div class="row g-4">
   
      <div class="col-md-4 p-2">
        <img src="fachada1.PNG" class="img-fluid rounded shadow" alt="Autoescola 1">
      </div>
      <div class="col-md-4">
        <img src="motos3.PNG" class="img-fluid rounded shadow" alt="Autoescola 2">
      </div>
      <div class="col-md-4 p-2">
        <img src="campo.PNG" class="img-fluid rounded shadow" alt="Autoescola 3">
      </div>
    </div>
  </div>
</section>

  <section id="faq" class="faq-section">
  <div class="container">
    <h2>Perguntas Frequentes</h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1">
            Quanto tempo espero para dar início às aulas práticas após o exame teórico?
          </button>
        </h2>
        <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Não existe um tempo determinado, após liberação do resultado pelo DETRAN, o candidato deverá comparecer pessoalmente na autoescola para fazer a programação das aulas.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2">
            A autoescola emite algum comprovante para que eu possa dirigir?
          </button>
        </h2>
        <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">Sim, após liberação do DETRAN e início das aulas práticas, você receberá um documento de autorização.</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3">
            A carteira provisória pode ser usada em todo o território nacional?
          </button>
        </h2>
        <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">Sim, a permissão para dirigir (PPD) é válida em todo o território nacional.</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4">
            Posso iniciar as aulas antes de completar 18 anos, sendo emancipado?
          </button>
        </h2>
        <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">Sim, desde que apresente os documentos legais de emancipação.</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5">
            Quanto tempo demora para tirar a primeira habilitação?
          </button>
        </h2>
        <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">O processo pode durar de 2 a 4 meses, dependendo da disponibilidade de turmas e prazos do DETRAN.</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6">
            É necessário realizar as aulas mesmo sabendo dirigir?
          </button>
        </h2>
        <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">Sim. As aulas são obrigatórias para todos os candidatos conforme exigência do DETRAN.</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7">
            Quando terminar o prazo da carteira provisória, aguardo em casa a nova carteira?
          </button>
        </h2>
        <div id="faq7" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">Não. Você deve solicitar a CNH definitiva após cumprir os 12 meses sem infrações graves ou gravíssimas.</div>
        </div>
      </div>
    </div>
  </div>
</section>

 

    <a href="https://wa.me/5573999385442" class="whatsapp-btn" target="_blank">
    <i class="bi bi-whatsapp"></i>
    </a>

<app-rodape/>