<app-menulogin/>
<section class="cursos-section py-5">
  <div class="container text-center text-dark">
    <h2 class="fw-bold display-5 mb-4">Conheça <span class="text-danger">Nossos Cursos</span></h2>
    <p class="lead mb-5">
      Oferecemos serviços de formação de condutores nas categorias <strong>“A”</strong> e <strong>“B”</strong>, 
      renovação de CNH, adição ou mudança de categoria, e curso de reciclagem para infratores.
    </p>

    <div class="row g-4">
    
      <div class="col-md-4">
        <div class="card shadow border-0 h-100">
          <img src="catA.png" class="card-img-top" alt="Categoria A">
          <div class="card-body">
            <h5 class="card-title text-danger">1ª Habilitação Categoria “A”</h5>
            <p class="card-text">Curso para conduzir motos, triciclos e veículos de duas rodas. Ideal para quem busca independência e agilidade no trânsito.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow border-0 h-100">
          <img src="catB.png" class="card-img-top" alt="Categoria B">
          <div class="card-body">
            <h5 class="card-title text-danger">1ª Habilitação Categoria “B”</h5>
            <p class="card-text">Voltado para quem deseja dirigir carros de passeio com até 8 lugares. Curso completo e com toda a assistência necessária.</p>
          </div>
        </div>
      </div>

    
      <div class="col-md-4">
        <div class="card shadow border-0 h-100">
          <img src="adicao.png" class="card-img-top" alt="Adição de Categoria">
          <div class="card-body">
            <h5 class="card-title text-danger">Adição de Categoria</h5>
            <p class="card-text">Para quem já possui CNH e deseja incluir nova categoria, como de “A” para “AB” ou de “B” para “C”, com atendimento personalizado.</p>
          </div>
        </div>
      </div>

    
      <div class="col-md-4">
        <div class="card shadow border-0 h-100">
          <img src="catD.png" class="card-img-top" alt="Categoria C/D/E">
          <div class="card-body">
            <h5 class="card-title text-danger">Categorias C, D e E</h5>
            <p class="card-text">Especialização para motoristas profissionais: caminhões, ônibus e veículos articulados. Aumente suas oportunidades no mercado.</p>
          </div>
        </div>
      </div>

    
      <div class="col-md-4">
        <div class="card shadow border-0 h-100">
          <img src="rec.webp" class="card-img-top" alt="Reciclagem">
          <div class="card-body">
            <h5 class="card-title text-danger">Curso de Reciclagem</h5>
            <p class="card-text">Obrigatório para condutores com CNH suspensa ou infratores reincidentes. Atualização completa e rápida.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <a href="https://wa.me/5573999385442" class="whatsapp-btn" target="_blank">
    <i class="bi bi-whatsapp"></i>
    </a>
<app-rodape/>