<app-menulogin/>


<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Aqui preparamos você para o trânsito real!</h1>
      <p>Venha conferir porque somos a auto escola para você, em Itacaré.</p>
      <a href="https://wa.me/5573999385442" target="_blank" class="btn-whatsapp">
         <i class="bi bi-whatsapp"></i>
         Entre em contato
      </a>
    </div>
    <div class="hero-image">
      <img src="carrosol.PNG" alt="Auto Escola" />
    </div>
  </div>
</section>


<section class="sobre">
  <h2>Quem Somos</h2>
  <div class="sobre-content">
    <div class="video">
    
      <img src="itafach.PNG" alt="">
    </div>
    <div class="descricao">
      <p>
        Com mais de 15 anos no mercado, a auto escola Itacaré tem se destacado como um formador de condutores de excelência no Estado da Bahia.
      </p>
      <p>
        Localizada na região do porto de trás, Itacaré, oferecemos fácil acesso e comodidade aos nossos alunos e clientes.
      </p>
    </div>
  </div>
</section>


<section class="info-cards">
  <div class="card">
    <h3>Nossa Missão</h3>
    <p>Formar condutores com responsabilidade e segurança, prontos para o trânsito real.</p>
  </div>
  <div class="card">
    <h3>Nossa Visão</h3>
    <p>Ser referência na formação de motoristas, oferecendo excelência no ensino e estrutura moderna.</p>
  </div>
  <div class="card">
    <h3>Nossos Valores</h3>
    <ul>
      <li>Integridade</li>
      <li>Ética</li>
      <li>Respeito</li>
      <li>Comprometimento</li>
      <li>Transparência</li>
    </ul>
  </div>
</section>
<a href="https://wa.me/5573999385442" class="whatsapp-btn" target="_blank">
    <i class="bi bi-whatsapp"></i>
    </a>
<app-rodape/>
